main, header, footer, figcaption, section, div, ul, li, h2, h3, p, a {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  list-style: none;
}

html,
body {
  font: 100% 'Source Sans Pro', sans-serif;
  height: 100%;
  width: auto;
  overflow-y: hidden;
}

html {
  box-sizing: border-box;
}

.logo{
  margin: 2px 20px;
  width: 45px;
  height: 45px;
}

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%
}

.navbar-brand{
  padding: 0;
}

.navbar-nav{
  margin: 0;
}

.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
}

main{
  height: 100%;
  display: inline-flex;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
  width: auto;
  align-items: flex-start;
  margin: 51px 10px 0 10px;
  padding-top: 20px;

}

.list{
  position: relative;
  padding-top: 36px;
  width: 255px;
  display: flex;
  max-height: 82vh;
  height: initial;
  flex-wrap: wrap;
  margin: 0 10px 0 20px;
}

.card-list {
  width: 253px;
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 30px;
  margin-top: -9px;
}

.list-header{
  position: absolute;
  top: 0;
  left: 0;
  height: 42px;
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  text-align: left;
  padding: 3px;
}

.list-header h3{
  display: inline-flex;
  padding-top: 10px;
  padding-left: 12px;
}

.list-header input{
  display: none;
  padding-top: 10px;
  margin-left: 12px;
}

.card{
  width: 204px;
  min-height: 100px;
  position: relative;
  /*margin: 23px 10px;*/
  margin: 23px auto;
  background-color: white;
  border: blue 1px solid;
}

.panel-body{
  /*padding: 15px 13px;*/
  padding: 0px;
  margin: 15px 0px;
}

.add-card{
  width: 100%;
  height: 50px;
  border: 1px solid #ddd;
  text-align: left;
  margin-top: -17px;
  z-index: 10;
}

.add-card:hover{
  background-color: #bfbfbf;
}

.add-list{
  width: 255px;
  position: relative;
  display: flex;
  height: 42px;
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  margin: 0 10px;
}
.add-list:hover{
  background-color: #96cde9;
}

.dropdown {
  float: right;
}

.dropdown-menu {
  left: -365%;
  top: 112%;
}

.edit-card{
  display: none;
  margin: 3px;
  position: absolute;
  top: 0;
  left: 136px;
}

.card:hover > .edit-card{
  display: inline-block;
}

.card-content{
  padding: 20px 15px;
  margin-bottom: 21px;
}

.member-list-on-card{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 7px;
}
.member-inital-on-card{
  display: inline-block;
  margin: 5px;
  padding: 5px;
  font-weight: 800;
  float: right;
  cursor: default;
  text-transform: uppercase;
}

.modal{
  background-color: rgba(0, 0, 0, 0.5);
}

.relevent-card-id, .relevent-list-id{
  display: none;
}

.modal-dialog{
  margin: 20% auto;
  width: 650px;
}

.member-in-modal{
  margin-left: 5px;
}

.panel-for-members{
  width: 300px;
}

#member-section{
  position: absolute;
  top: 50px;
  padding: 50px 40px;
}

.list-group-item{
  width: 700px;
  height: 70px;
  line-height: 50px;
}

.add-member-input{
  display: inline-block;
  height: 45px;
  padding-left: 15px;
  width: 300px;
}
.add-member-btn{
  height: 40px;
}

.member-item{
  position: relative;
}

.member-name{
  display: inline-block;
}

.member-btns{
  /*float: right;*/
  display: none;
  position: absolute;
  right: 14px;
  top: 8px;
}

.edit-member-btn{
  display: none;
  position: absolute;
  right: 14px;
  top: 8px;
}

.member-item:hover > .member-btns{
  display: inline-block;
}

.edit-input-mem{
  display: none;
  width: 500px;
  height: 45px;
}

li.edit-mode > h3{
  display: none;
}

li.edit-mode > .member-btns{
  display: none;
}

li.edit-mode > .edit-input-mem{
  display: inline-block;
}

li.edit-mode > .edit-member-btn{
  display: inline-block;
}

.member-item.edit-mode > .member-btns{
  display: none;
}


@media (min-width: 0) {
  /* Effects the problem regarding the float under 768px, fixes that. */
  .navbar-nav  li {
    float: left;
  }
  /* Effects the box around the board selected box so it will be the same as above 768px. */
  .navbar-nav a {
    padding: 15px;
  }
  /* Effects the board and members under 768px, gets them inline. */
  .navbar-nav {
    margin-bottom: 0;
    margin-top: 0;
  }
}
