main, header, footer, figcaption, section, div, ul, li, h2, h3, p, a {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  list-style: none;
}

html,
body {
  font: 100% 'Source Sans Pro', sans-serif;
  height: 100%;
  width: auto;
  overflow-y: hidden;
}

html {
  box-sizing: border-box;
}

.logo{
  margin: 2px 20px;
  width: 45px;
  height: 45px;
}

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%
}

.navbar-brand{
  padding: 0;
}

main{
  height: 100%;
  display: inline-flex;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
  width: auto;
  align-items: flex-start;
  margin-top: 51px;
  padding-top: 20px;

}

.inside-list{
  position: relative;
  width: 300px;
  height: initial;
  max-height: 100%;
  padding-top: 50px;
  margin: 0 20px;
}

.list{
  width: 300px;
  display: flex;
  max-height: 72vh;
  height: initial;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.list ul {
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 30px;
}

.list-header{
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  display: block;
  width: 100%;
  border: 1px solid #ddd;
}

.card{
  width: 250px;
  height: 200px;
  display: flex;
  margin: 20px 20px;
  background-color: #5bc0de;
}

.add-card{
  width: 100%;
  height: 50px;
  border: 1px solid #ddd;
  text-align: left;
}

.add-list{
  width: 300px;
  position: relative;
  display: flex;
  height: 50px;
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  margin: 0 20px;
}

@media (min-width: 0) {
  /* Effects the problem regarding the float under 768px, fixes that. */
  .navbar-nav  li {
    float: left;
  }
  /* Effects the box around the board selected box so it will be the same as above 768px. */
  .navbar-nav a {
    padding: 15px;
  }
  /* Effects the board and members under 768px, gets them inline. */
  .navbar-nav {
    margin-bottom: 0;
    margin-top: 0;
  }
}
